$color-hakkasan-group-light-blue-7: #f1f0ee;
$color-hakkasan-group-light-blue-3: #babfc2;

$color-nightlife-1: #42413f;
$color-nightlife-3: #73716f;
$color-nightlife-6: #d9d8d4;
$color-nightlife-7: #ebedeb;

$font-size: 16px;
$grid-unit: 1.25rem;
